@font-face {
  font-family: "Oswald";
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222222;
  background-color: whitesmoke;
  line-height: 1.4;
  font-size: 16pt;
  font-family: "Oswald", serif;
  display: block;
}

body { 
  width: 100vw;
}

header {
  display: flex;
  position: auto;
  background-color: #022326;
  color: #F2F2F2;
  width: 100%;
  height: 75px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  float: right;
  padding: 10px 20px;
  width: 100vw;
  z-index: 100;
}

nav a {
  color: #F2F2F2;
  text-decoration: none;
  display: inline;
  padding: 0 10px;
}

.Logo {
  display: flex;
  align-items: center;
  float: left;
  font-family: "BBH Sans Hegarty", serif;
  font-size: 3em;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.Swissimage {
  background-image: linear-gradient( to top, rgba(160, 160, 160, 0.75), rgba(10, 0, 160, 0.2)), url("https://lp-cms-production.imgix.net/2019-06/shutterstock_160155083.jpg?auto=format,compress&q=72&w=1095&fit=crop&crop=faces,edges");
  background-size: cover;
  position: center;
  width: 100vw;
  height: 100vh;
}

.articletitle { 
  display: flex;
  font-family: "boston", serif;
  font-size: 10em;
  height: 102vh;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: start;
  align-self: center;
  color: whitesmoke;
  padding: 0 10px;
}

h1 {
  font-size: 2em;
  margin: auto;
}

.articlequote{
  font-family: "teko", sans-serif;
  text-transform: uppercase;
  margin: 50px 20px 50px 50px;
  font-size: 2em;
  text-align: center;
}

.articleimage {
  background: url("https://med.stanford.edu/news/insights/2018/08/this-is-your-brain-on-roller-coasters/_jcr_content/cq:featuredimage.coreimg.jpg/1746604385106/lksc.jpg");
  background-size: cover;
  position: center;
  /*height: auto;*/
  display: block;
  margin: 50px 20px 50px 300px;
  width: 70%;
  height: 600px;
}



.text {
  column-count: 2;
  column-gap: 48px;
  text-align: justify;
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

.More{
  color: #F2F2F2;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
.socials {
  justify-content: end;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #022326;
  width: 100%;
  height: 170px;
  padding: 30px;
}

footer a {
  color: #F2F2F2;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.copyright {
  color: #BFBFBF;
  text-decoration: none;
}


@media only screen and (max-width: 480px){
  html {
    font-size: 16px; 
    text-align:left; 
  }
  
    body{
    width: 100vw;
    min-width: 200px;
  }
  
  .Logo {
    font-size: 2em;
  }
  
  a:hover {
    color: whitesmoke;
  }
  
  a:active {
    color: orangered;
  }

  .Swissimage p{
    font-size: 30vw;
  }
  
  .articletitle {
    width: 98vw;
    text-align: left;
    font-size: 100px;
  }
  
  .articlequote {
    font-size: 7vw;
    justify-content: center;
  }

  .text {
    margin: 5vw;
    width: 75vw;
    min-width: 200px;
    justify-content: center;
    column-count: 1;
  }
  
  .navlinks {
    height: 1px;
    margin: -10px;
    width: 1px;
  }
  
  .Logo {
    margin-left: auto;
    margin-right: auto;
  }
  
  .articleimage {
    display:flex; 
    justify-content: center; 
  }
  
   footer {
    flex-direction: column;
    columns: 1;
  }
