@font-face {
  font-family: "Oswald";
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222222;
  background-color: whitesmoke;
  line-height: 1.4;
  font-size: 16pt;
  font-family: "Oswald", serif;
  display: block;
}

body { 
  width: 100vw;
}

header {
  display: flex;
  position: fixed;
  background-color: #222222;
  color: whitesmoke;
  width: 100%;
  height: 75px;
  text-transform: uppercase;
  font-family: "teko", sans-serif;
}
